@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir.ttf");
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Bold.ttf");
  font-weight: bold;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  font-family: Vazir;
  direction: rtl;
  padding-top: 56px;
  padding-bottom: 50px;
  text-align: right;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.item h4 {
  font-size: 18px;
}

.item .card-text {
  font-size: 14px;
}

.cart-item-title {
  font-size: 14px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(34, 40, 49);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 1;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #c5c5c5;
  display: block;
  transition: all 0.5s ease;
  text-transform: capitalize;
}

.sidebar a:hover {
  color: #eeeeee;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 35px;
  margin-left: 50px;
}
.sidebar .closebtn:hover {
  color: #dc1313;
}

#main {
  transition: margin-right 0.1s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.github-icon {
  color: white;
}
.github-icon:hover {
  color: rgb(0, 0, 0);
}
.telegram-icon {
  color: white;
}
.telegram-icon:hover {
  color: rgb(42 171 238);
}
.instagram-icon {
  color: white;
}
.instagram-icon:hover {
  color: #dc2743;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
}
.containar {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.navbar-icon {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
