body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(34, 40, 49);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #b1b1b1;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #d2d2d2;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 35px;
  margin-left: 50px;
}
.sidebar .closebtn:hover {
  color: #dc1313;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(20, 40, 80);
  color: white;
  padding: 10px 15px;
  border:none;
  position: absolute;
  top: 30px;
  left: 20px;
}

.openbtn:hover {
  background-color: rgb(15, 35, 75);
  border-radius: 10px;
}

#main {
  transition: margin-right 0.1s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.github-icon {
  position: relative;
  top: -40px;
  right: 25px;
}
.telegram-icon {
  position: relative;
  top: -40px;
  right: 30px;
}
.instagram-icon {
  position: relative;
  top: -40px;
  right: 35px;
}
.down-bar {
  font-size: 7px;
}

* {box-sizing: border-box;}

.search-bar .search-container {
  float: left;
  position: relative;
  top: -50px;
  left: 250px;
}

.search-bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 13px;
  border: none;
}

.search-bar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: rgb(39, 73, 109);
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.seach-bar .search-container button:hover {
  background: rgb(30, 70, 100);
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .search-bar a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .seach-bar input[type=text] {
    border: 1px solid #ccc;  
  }
}